@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 23px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#background-body {
  background-image: url(../public/background.jpg);
}

.bg-sidebar {
  background: #3d68ff;
}
.cta-btn {
  color: #3d68ff;
}
.upgrade-btn {
  background: #1947ee;
}
.upgrade-btn:hover {
  background: #0038fd;
}
.active-nav-link {
  background: #1947ee;
}
.nav-item:hover {
  background: #1947ee;
}
.account-link:hover {
  background: #3d68ff;
}
