.dados {
  font-weight: bold;
}
.BackgroundLiberacao {
  border: 1px solid #000;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
}
.container {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.containerMain {
  border: 1px solid #000;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 8px;

  display: grid;
  grid-template-rows: 3rem 1fr;
  flex: 1 1 auto;
}
.contentMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}
.contentMenu button {
  /* border: solid 1px ##fff;
  background-color: #3d68ff;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 2px 8px;
  font-weight: bold; */
}
.contentMsg {
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setorEsqHeader {
  text-align: left;
  padding: 0;
}
.setorDirHeader {
  text-align: right;
  padding: 0;
}
.bodyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  border-top: 1px solid #000;
  margin-top: 4px;
}
.status {
  color: #9c780b;
}

.containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 8px;

  border: 1px solid #000;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  overflow: hidden;
}

.itemsFooter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}
.itemsGridFooter {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.itemsGridFooter test > span {
  float: left;
}

.icons {
  float: left;
}
