.containerBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.containerBtn div {
  display: flex;
  gap: 4px;
}

.itensLiberacao {
  position: inherit;
  font-size: small;
}

.containerItem {
  display: grid;
  justify-content: space-;
  align-items: center;
  border-bottom: 1px solid #060f28;
  grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
}

.btnMenu {
  /* border: solid 1px ##fff;
  background-color: #3d68ff;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 4px 8px;
  font-weight: bold; */
}

.btnMenu:hover {
  background-color: #96adff;
  color: #000;
  border: none;
}

@media (min-width: 768px) {
  .containerBtn {
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: 1rem;
  }
  .btnMenu {
    border: solid 1px black;
    border-radius: 5px;
    padding: 4px 16px;
  }
  .containerItem {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
    border: none;
    margin-bottom: 1rem;
  }
}
